*{
    padding: 0px;
    margin: 0px;
}

.Img__Banner__Carrousel{
    border-bottom: 1px solid grey;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 7px 0px grey;
}

.carousel-item{
    height: 50vh;
}

.Banner__image{
    height: 100%;
    object-fit: contain;
    width: 100%;
}